.section {
  width: 100%;
  height: 375px;
}

.contents {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_texts {
  max-width: 668px;
  animation: moveFromLeft 600ms cubic-bezier(1, 0.49, 0.42, 0.89);
}

.title {
  font-size: 3rem;
  color: var(--light-blue);
}

.text {
  font-size: 1.625rem;
  color: var(--black-text);
}

.img_animation {
  animation: moveFromRight 600ms cubic-bezier(1, 0.49, 0.42, 0.89);
}

@keyframes moveFromLeft {
  0% {
    filter: opacity(0);
    transform: translateX(-300px);
  }

  100% {
    filter: opacity(1);
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    filter: opacity(0);
    transform: translateX(300px);
  }

  100% {
    filter: opacity(1);
    transform: translateX(0);
  }
}
