.title {
  font-size: 4rem;
  font-family: "Reem Kufi", sans-serif;
  color: var(--light-blue);
  margin-top: 2rem;

  display: flex;
  align-items: center;
}

.title a {
  transition: all 400ms ease;
}

.title a:visited {
  color: var(--light-blue);
}

.title a:hover {
  color: var(--light-blue);
}

.title svg {
  width: 48px;
  height: 42px;
}

.detail_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.detail_section div:first-child {
  height: 338px;
  background: var(--pink-main);
  width: 60%;
  margin-bottom: 4rem;
  color: var(--white);
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detail_section h4 {
  margin-top: 3rem;
  font-size: 3rem;
}

.detail_section h5 {
  margin-top: 1.5rem;
  font-size: 2.625rem;
  font-weight: bold;
}

.detail_section p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.social_media a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--white);

  transition: color 400ms ease;
}

.social_media svg {
  margin-bottom: 0.3rem;
}

.social_media a + a {
  margin-left: 1rem;
}

.social_media a:hover {
  color: var(--dark-blue);
}
