.container {
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-image: url("../../assets/backgroun-header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.div_contents {
  width: 568px;
  height: 100%;
  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.secondary_title {
  font-size: 2rem;
  margin-bottom: 2rem;
  align-self: flex-start;
}
